﻿<!--Main Footer-->
<footer class="main-footer" style="background-image:url(images/background/pattern-2.png);">
    <div class="auto-container">
        <!--widgets section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget logo-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="images/logo-2.png" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <div class="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiaproi-dent, sunt in culpa qui officia dese deserunt...</div>
                                    <ul class="social-links-two">
                                        <li class="facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li class="google-plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--Links Widget-->
                            <div class="footer-widget links-widget">
                                <div class="footer-title">
                                    <h2>Quick Links</h2>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Classes</a></li>
                                        <li><a href="#">Teachers</a></li>
                                        <li><a href="#">Latest News</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--Links Widget-->
                            <div class="footer-widget links-widget">
                                <div class="footer-title">
                                    <h2>Categories</h2>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Painting</a></li>
                                        <li><a href="#">Drawing</a></li>
                                        <li><a href="#">Sports, Games</a></li>
                                        <li><a href="#">Life Science</a></li>
                                        <li><a href="#">Activities & Events </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">

                            <div class="footer-widget subscribe-widget">
                                <div class="footer-title">
                                    <h2>News letter</h2>
                                </div>
                                <div class="widget-content">
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Name *" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" value="" placeholder="Email Id" required="">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="theme-btn btn-style-one">SUBSCRIBE</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="row clearfix">
                <div class="column col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">&copy; Copyrights 2017 Saratov. All Rights Reserved</div>
                </div>
                <div class="column col-md-6 col-sm-6 col-xs-12">
                    <div class="cards"><img src="images/icons/visa-cards.png" alt="" /></div>
                </div>
            </div>
        </div>

    </div>
</footer>
